<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>
<header th:replace="layout/layout :: header"></header>


<div class="container">

		<h1>Lista de Usuario</h1>

		<div class="card text-center">
			<div class="card-header">Lista de usuarios</div>
			<div class="card-body">
				
				<div th:if="${dangerDel}" class="alert alert-danger" role="alert">
  					<span th:text="${dangerDel}"></span>
				</div>
			
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">User Name</th>
							<th scope="col">First Name</th>
							<th scope="col">Last Name</th>
							<th scope="col">Age</th>
							<th scope="col">Edit / Delete</th>
						</tr>
					</thead>
					<tbody th:each="user: ${users}">
						<tr>
							<th scope="row" th:text="${user.id}">1</th>
							<td th:text="${user.username}">Mark</td>
							<td th:text="${user.firstname}">Otto</td>
							<td th:text="${user.lastname}">@mdo</td>
							<td th:text="${user.age}">@mdo</td>
							
							<td>
								
								<a th:href="@{ '/user/edit/' + ${user.id} }" class="btn btn-warning"> 
									<i class="fas fa-edit"></i> 
								</a>
								<a th:href="@{ '/user/del/' + ${user.id} }" class="btn btn-danger"> 
									<i class="fas fa-trash-alt"></i> 
								</a>							
							</td>
						</tr>						
					</tbody>
				</table>

			</div>
			<div class="card-footer text-muted">
				<a th:href="@{/user/nuevo}"  class="btn btn-primary"><i class="fas fa-file-alt"></i> Nuevo Usuario</a>
			</div>
		</div>

	</div>




<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>